<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orderman - Онлайн Замовлення</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Ласкаво просимо до нашої піцерії!</h1>
        <img src="https://example.com/pizza-image.jpg" alt="Фото піци">
        <h2><a href="/menu">МЕНЮ</a></h2>
    </div>
</body>
</html>